$black: #000000;
$white: #FFFFFF;
$purple: #461464;
$cyan: #01959e;
$grey: #B4B4B4;
$brown: #b45d4a;
$red: #b32231;

$aboutText1: #646464;
$aboutText2: #949494;


$mainFontSize: 13px;
$mainFont: 'Gilroy';
$extraFont: 'Bodoni';
